<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Word Bank Home</title>
    </head>
    <body>
        <h1>Welcome to Word Bank!</h1>
        <p>All stored words are listed below.</p>
        <p>---</p>
        <br>
        <div id="words">
            <p>Loading words...</p>
        </div>
        <script src="/assets/indexJS"></script>
    </body>
</html>